<div class="footer-container">
   <footer class="footer">
      <ul class="footer-links">
         <li>
            <a href="/privacy/" title="Política de privacidade" rel="me">Política de privacidade</a>
         </li>
         <li>
            <a href="/cookies/" title="Política de cookies" rel="me">Política de cookies</a>
         </li>
         <li>
            <a target="_blank" href="http://discord.gg/pTbpHp9zwE" title="discord" rel="me">
               <img src="/icons/social/discord.svg" alt="discord" inline> Discord
            </a>
         </li>
         <li>
            <a target="_blank" href="https://twitter.com/ob_dixital" title="twitter" rel="me">
               <img src="/icons/social/twitter.svg" alt="twitter" inline> Twitter
            </a>
         </li>
         <li>
            <a target="_blank" href="https://mastodon.gal/@obradoirodixitalgalego" title="mastodon" rel="me">
               <img src="/icons/social/mastodon.svg" alt="mastodon" inline> Mastodon
            </a>
         </li>
         <li>
            <a target="_blank" href="https://bsky.app/profile/obradoirodixital.bsky.social" title="bluesky" rel="me">
               <img src="/icons/social/bluesky.svg" alt="bluesky" inline> Bluesky
            </a>
         </li>
      </ul>
      <p class="footer-copyright">
      Este sitio foi creado con <a href="https://lume.land/">Lume</a>
      — <button
          class="button-theme"
          id="switch-theme"
          title="Toggle light & dark theme"
          aria-label="auto"
          aria-live="polite"
        >
            <span class="is-light">Modo claro</span>
            <span class="is-dark">Modo escuro</span>
         </button>
      </p>
   </footer>
   <badger-cookies class="footer-cookies">
      {{ common.footer.cookies.text | md | safe }}

      <button class="button is-secondary is-small">{{ common.footer.cookies.button }}</button>
   </badger-cookies>
</div>