<nav class="navbar-container" role="navigation">
   <div class="navbar">
      <a href="/" class="navbar-logo" aria-label="Return home">
         <svg width="60" height="60"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 102 102" >
            <g>
               <path class="logoSVG" d="M51,86.8c-4.1,0-8.2-0.7-12.2-2.2l1.4-3.7c16.5,6,34.8-2.5,40.7-19c6-16.5-2.5-34.8-19-40.8c-5.2-1.9-10.9-2.4-16.4-1.4l-0.7-3.9c6.2-1.1,12.6-0.5,18.4,1.6c18.5,6.7,28.1,27.3,21.4,45.8C79.3,77.8,65.6,86.8,51,86.8z"/>
               <path class="logoSVG" d="M55.7,52.8c0.7-1.8,0.3-3.9-1.1-5.3c-1.9-1.9-5.1-1.9-7,0c-1.9,1.9-1.9,5.1,0,7c1.4,1.4,3.6,1.8,5.3,1.1l14.4,14.4c-5,4.3-11.5,6.4-18.2,5.9c-7.3-0.6-14-4.3-18.3-10.2c-6.3-8.6-6.3-20.7,0-29.3c4.3-5.9,11-9.7,18.3-10.2c7.4-0.6,14.5,2,19.7,7.2l2.8-2.8c-6-6-14.3-9-22.8-8.4c-8.5,0.7-16.2,5-21.2,11.9c-7.3,10-7.3,24,0,34c5,6.9,12.7,11.2,21.2,11.9c0.8,0.1,1.5,0.1,2.3,0.1c7.7,0,15.1-3,20.5-8.4l1.4-1.4L55.7,52.8z"/>
               <path class="logoSVG" d="M50.9,93.5c-7,0-14.1-1.7-20.6-5.4C9.8,76.7,2.5,50.8,13.9,30.3C25.3,9.8,51.2,2.5,71.7,13.9l-1.9,3.5C51.2,7,27.7,13.7,17.3,32.2C7,50.8,13.7,74.3,32.2,84.7c18.6,10.4,42.1,3.7,52.4-14.9c5.6-10,6.4-21.8,2.4-32.5l3.7-1.4c4.5,11.8,3.5,24.8-2.6,35.9C80.4,85.7,65.9,93.5,50.9,93.5z"/>
            </g>
         </svg>
         <abbr title="Asociación Cultural Obradoiro Dixital Galego">
            <b>ACODG</b></abbr>
         <span>
            <b>A</b>sociación <b>C</b>ultural <b>O</b>bradoiro <b>D</b>ixital <b>G</b>alego
         </span>
      </a>
      <ul class="navbar-menu" role="menu" id="main-menu">
         {% for entry in search.pages("menu.visible=true", "menu.order") %}
            <li>
               <a href="{{ entry.url | url }}" {% if entry.menu.url==menu.url %} aria-current="page" class="is-selected"{% endif %} role="menuitem">
                  {{ entry.menu.title or entry.title }}
               </a>
            </li>
         {% endfor %}
      </ul>
      <div class="navbar-search">
         <a class="DocSearch DocSearch-Button" aria-label="Search" href="/search/">
            <span class="DocSearch-Button-Container">
               <svg width="20" height="20" class="DocSearch-Search-Icon" viewBox="0 0 20 20">
                  <path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
               </svg>
               <span class="DocSearch-Button-Placeholder">Buscar</span></span>
            <span class="DocSearch-Button-Keys">
               <kbd class="DocSearch-Button-Key">
                  <svg width="15" height="15" class="DocSearch-Control-Key-Icon">
                     <path d="M4.505 4.496h2M5.505 5.496v5M8.216 4.496l.055 5.993M10 7.5c.333.333.5.667.5 1v2M12.326 4.5v5.996M8.384 4.496c1.674 0 2.116 0 2.116 1.5s-.442 1.5-2.116 1.5M3.205 9.303c-.09.448-.277 1.21-1.241 1.203C1 10.5.5 9.513.5 8V7c0-1.57.5-2.5 1.464-2.494.964.006 1.134.598 1.24 1.342M12.553 10.5h1.953" stroke-width="1.2" stroke="currentColor" fill="none" stroke-linecap="square"></path>
                  </svg>
               </kbd>
               <kbd class="DocSearch-Button-Key">K</kbd>
            </span>
         </a>
      </div>
      <label id="sidebar-menu">
         <input type="checkbox">
         <span class="menu">
            <span class="hamburger"></span>
         </span>
         <ul role="menu" >
            <li class="site-title">
               <b>A</b>sociación <b>C</b>ultural <b>O</b>bradoiro <b>D</b>ixital <b>G</b>alego
            </li>
            {% for entry in search.pages("menu.visible=true", "menu.order") %}
               <li>
                  <a href="{{ entry.url | url }}" {% if entry.menu.url==url %} aria-current="page" class="is-selected"{% endif %} role="menuitem">
                     {{ entry.menu.title or entry.title }}
                  </a>
               </li>
            {% endfor %}
            <li>
                  <a href="/search/" {% if "/search/"==url %} aria-current="page" class="is-selected"{% endif %} role="menuitem">
                     Búsqueda
                  </a>
            </li>
         </ul>
      </label>
   </div>
</nav>