<ul class="postList">
   {% asyncEach post in postslist %}
   <li class="post">
      <header class="post-header">
         <h2 class="post-title">
            <a href="{{ post.url }}" {% if post.url == url %} aria-current="page"{% endif %}>
               {{ post.title or post.url }}
            </a>
         </h2>

         {% set date = post.date %}
         {% set tags = post.tags %}
         {% set author = post.author %}
         {% set readingInfo = post.readingInfo %}
         {% include "./post-details.njk" %}
      </header>
   </li>
   {% endeach %}
</ul>