.proxecto {
   max-width: var(--max-width);
   margin: var(--row-gap-1) auto;
   padding: 0 var(--margin);

   & figure {
      display: flex;

      & img {
         height: 150px;
         width: 150px;
         border-radius: 50%;
         display: block;
         border: solid 4px var(--color-background);
         display: inline-block;
      }

      & figcaption {
         margin-left: 20px;
         display: inline-block;

         & p {
            font: var(--text-body);
            letter-spacing: var(--text-body-spacing);
            color: var(--color-foreground-1);
            margin: .3em 0 0;
         }
      }
   }

   & aside {
      /* 
      border-bottom: solid 1px var(--color-background-2); */
      position: relative;
   }

   & article {
      font: var(--text-body);
      letter-spacing: var(--text-body-spacing);
      color: var(--color-foreground-1);

      & h2 {
         color: var(--color-foreground);
         font: var(--text-title);
         letter-spacing: var(--text-title-spacing);
         margin-top: 2.5em;
         margin-bottom: .5em;

         &:first-child {
            margin-top: 0;
         }
      }

      & h3 {
         color: var(--color-foreground);
         font: var(--text-body-bold);
         letter-spacing: var(--text-body-spacing);
         margin-top: 2.5em;
         margin-bottom: .5em;

         &:first-child {
            margin-top: 0;
         }
      }

      & .header-anchor {
         color: inherit;
         text-decoration: none;
      }

      & h2+h3 {
         margin-top: 0;
      }

      & strong {
         font-weight: 600;
      }

      & code {
         background: var(--color-background-1);
         padding: 0 .3em;
         border-radius: var(--border-radius-small);
         border: solid 1px var(--color-background-2);
         margin: 0 .2em;
      }

      & pre code {
         margin: 0;
      }

      & p,
      & li {
         margin: .5em 0;
      }

      & lume-code,
      &>pre {
         margin-top: 2em;
         margin-bottom: 2em;
      }

      & dt {
         font-weight: 600;
      }
   }
}


.plugin-tags {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 10px;

   & .button {
      --color: black;
   }
}