.text {
  padding: 5vh 5vw;
  max-width: 1400px;
  box-sizing: border-box;
  margin: 0 auto;
}
.text-header {
  & h1 {
    font: var(--font-4-bold);
    letter-spacing: var(--font-spacing-4);
  }
}
.text-content {
  line-height: 1.6; /* Better for reading */
  
  & h2 {
    font: var(--font-3-bold);
    letter-spacing: var(--font-spacing-3);
    margin: 1.5rem 0 0;
  }
  & h3 {
    font: var(--font-2-bold);
    letter-spacing: var(--font-spacing-2);
    margin: 1.5em 0 0;
  }
}