---
layout: ./base.njk
page_css: plugins.css
---

<main class="plugins">
   <header class="plugins-header">
      <h1>{{ title }}</h1>
      {{ description | md | safe }}
   </header>

   <lume-filter intersection="true">
      <form class="plugins-filter">
         <input type="hidden" name="intersection" value="true"/>
         <select name="status" class="selector">
            <option value="all">Todos os proxectos {{ all_total }}</option>
            <option value="enabled">Só os proxectos con actividade</option>
            <option value="disabled">Só os proxectos sen actividade</option>
         </select>

         {% for tag in categorias.tags %}
            <label class="button is-secondary is-color-{{ tag.color }}">
               <input type="checkbox" name="{{ tag.id }}">
               {{ tag.name }}
            </label>
         {% endfor %}
      </form>

      <ul class="plugins-list">
         {% for item in search.pages("type=proxecto", "date=desc") | data %}
            <li class="plugin {% if item.active %} is-enabled{% endif %}" data-tags="{{ item.tags }}">
               <figure class="site">
                  {% if item.img %}
                     <a target="_blank" href="{{ item.href }}" class="site-image">
                        <img src="{{ item.img }}" alt="Logo de {{item.title}}" width="300" height="200">
                     </a>
                  {% endif %}
                  <figcaption class="site-description">
                     <p>
                        <a target="_blank" href="{{ item.href }}" class="site-name">
                           {{ item.title }}
                        </a>
                        {% if item.active %}
                           <span class="tag is-small">En activo</span>
                        {% endif %}
                     </p>

                     {{ item.description | md | safe }}
                  </figcaption>
               </figure>

               <nav class="plugin-tags">
                  {% for tag in categorias.tags | channelTags(item.tags) %}
                     <a href="?{{ tag.id }}=on" class="button is-secondary is-small is-color-{{ tag.color }}">
                        {{ tag.name }}
                     </a>
                  {% endfor %}
               </nav>
            </li>
         {% endfor %}
      </ul>
   </lume-filter>
</main>