---
layout: ./base.njk
page_css: texts.css
---

<article class="text">
   <header class="text-header">
      <h1>{{ title }}</h1>
   </header>

   <div class="text-content">
      {{ content | safe }}
   </div>
</article>