/*! @docsearch/css 3.2.1 | MIT License | © Algolia, Inc. and contributors | https://docsearch.algolia.com */
:root {
   --docsearch-key-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30, 35, 90, 0.4);
}

html[data-theme=dark] {

   --docsearch-searchbox-focus-background: #000;
   --docsearch-key-shadow: inset 0 -2px 0 0 #282d55, inset 0 0 1px 1px #51577d, 0 2px 2px 0 rgba(3, 4, 9, 0.3);
}

.DocSearch-Button {
   align-items: center;
   text-decoration: none;
   background: var(--color-background-2);
   border: 0;
   border-radius: 40px;
   color: var(--color-6);
   cursor: pointer;
   display: flex;
   font-weight: 500;
   height: 36px;
   justify-content: space-between;
   margin: 0 0 0 16px;
   padding: 0 8px;
   user-select: none
}

.DocSearch-Button:active,
.DocSearch-Button:focus,
.DocSearch-Button:hover {
   background: var(--color-background-1);
   box-shadow: inset 0 0 0 2px var(--color-foreground-1);
   color: var(--color-foreground);
   outline: none
}

.DocSearch-Button-Container {
   align-items: center;
   display: flex
}

.DocSearch-Search-Icon {
   stroke-width: 1.6
}

.DocSearch-Button .DocSearch-Search-Icon {
   color: var(--color-foreground)
}

.DocSearch-Button-Placeholder {
   font-size: 1rem;
   padding: 0 12px 0 6px
}

.DocSearch-Button-Keys {
   display: flex;
   min-width: calc(40px + .8em)
}

.DocSearch-Button-Key {
   align-items: center;
   background: linear-gradient(-26.5deg, var(--color-background), var(--color-background-1));
   border-radius: 3px;
   box-shadow: var(--docsearch-key-shadow);
   color: var(--color-6);
   display: flex;
   height: 18px;
   justify-content: center;
   margin-right: .4em;
   position: relative;
   padding: 0 0 2px;
   border: 0;
   top: -1px;
   width: 20px
}

@media (max-width:1280px) {

   .DocSearch-Button-Keys,
   .DocSearch-Button-Placeholder {
      display: none
   }
}