.social-links {

   & svg,
   & a {
      color: currentColor;
      fill: currentColor
   }

   & ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      padding: 0;
      grid-row: 2;
      margin-top: 0;
      margin-bottom: var(--row-gap-1);

      & li {
         margin: 5px;
         display: block;
         border-radius: 9999px;
         transition: transform .1s ease;
         height: auto;
         font-size: 36px;
      }
   }

   & a {
      align-items: center;
      display: flex;
      line-height: 0;
      transition: transform .1s ease;
      padding: .25em;
   }

   & svg {
      width: 36px;
      height: 36px;
   }

   & a:hover {
      transform: scale(1.1);
   }
}

.social-link, .social-link-rss, .social-link-link,.social-link-mail {
   background-color: #f0f0f0;
   color: #444
}

.social-link-google-podcast {
   background-color: #f0f0f0;
}
.social-link-ivoox {
   background-color: #fff;
   color: #ff6d0b
}

.social-link-amazon {
   background-color: #f90;
   color: #fff
}

.social-link-bandcamp {
   background-color: #1ea0c3;
   color: #fff
}

.social-link-behance {
   background-color: #0757fe;
   color: #fff
}

.social-link-codepen {
   background-color: #1e1f26;
   color: #fff
}

.social-link-deviantart {
   background-color: #02e49b;
   color: #fff
}

.social-link-dribbble {
   background-color: #e94c89;
   color: #fff
}

.social-link-dropbox {
   background-color: #4280ff;
   color: #fff
}
.social-link-discord {
   background-color: #5865f2;
   color: #fff
}

.social-link-etsy {
   background-color: #f45800;
   color: #fff
}

.social-link-facebook {
   background-color: #1778f2;
   color: #fff
}

.social-link-fivehundredpx {
   background-color: #000;
   color: #fff
}

.social-link-flickr {
   background-color: #0461dd;
   color: #fff
}

.social-link-foursquare {
   background-color: #e65678;
   color: #fff
}

.social-link-github {
   background-color: #24292d;
   color: #fff
}

.social-link-goodreads {
   background-color: #eceadd;
   color: #382110
}

.social-link-google {
   background-color: #ea4434;
   color: #fff
}

.social-link-instagram {
   background-color: #f00075;
   color: #fff
}

.social-link-lastfm {
   background-color: #e21b24;
   color: #fff
}

.social-link-linkedin {
   background-color: #0d66c2;
   color: #fff
}

.social-link-mastodon {
   background-color: #3288d4;
   color: #fff
}

.social-link-medium {
   background-color: #02ab6c;
   color: #fff
}

.social-link-meetup {
   background-color: #f6405f;
   color: #fff
}

.social-link-patreon {
   background-color: #ff424d;
   color: #fff
}

.social-link-pinterest {
   background-color: #e60122;
   color: #fff
}

.social-link-pocket {
   background-color: #ef4155;
   color: #fff
}

.social-link-reddit {
   background-color: #ff4500;
   color: #fff
}

.social-link-skype {
   background-color: #0478d7;
   color: #fff
}

.social-link-snapchat {
   background-color: #fefc00;
   color: #fff;
   stroke: #000
}

.social-link-soundcloud {
   background-color: #ff5600;
   color: #fff
}

.social-link-spotify {
   background-color: #1bd760;
   color: #fff
}

.social-link-telegram {
   background-color: #2aabee;
   color: #fff
}

.social-link-tiktok {
   background-color: #000;
   color: #fff
}

.social-link-tumblr {
   background-color: #011835;
   color: #fff
}

.social-link-twitch {
   background-color: #6440a4;
   color: #fff
}

.social-link-twitter {
   background-color: #1da1f2;
   color: #fff
}

.social-link-vimeo {
   background-color: #1eb7ea;
   color: #fff
}

.social-link-vk {
   background-color: #4680c2;
   color: #fff
}

.social-link-wordpress {
   background-color: #3499cd;
   color: #fff
}

.social-link-whatsapp {
   background-color: #25d366;
   color: #fff
}

.social-link-yelp {
   background-color: #d32422;
   color: #fff
}

.social-link-youtube {
   background-color: red;
   color: #fff
}